- @notes.each do |note|
  - present note do |n|
    %tr
      %td= n.value
      %td
        - if n.user.nil?
          No User
        - else
          = n.user.email
          
      %td= n.created_at.strftime('%D')
      %td= n.updated_at.strftime('%D')
      %td= link_to "Show", n.note
      %td= link_to 'Edit', edit_note_path(n.note)
      %td= link_to 'Destroy', n.note, method: :delete, data: { confirm: "Are you sure?" }