<h1>Listing paintings</h1>

<%= link_to 'New Painting', new_painting_path %>

<br/>
<%= form_for Painting.new do |f| %>
  <%= f.label :image, "Upload paintings:" %>
  <%= f.file_field :image, multiple: true, name: "painting[image]" %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%;"></div></div>
</div>
</script>

<div id="paintings">
  <% unless @paintings.empty? %>
    <div class="pull-right">
      <button data-bind="click: selectAllOnPage"> Select all </button>
      <button data-bind="click: clearSelection"> Clear selection </button>
      <button data-bind="click: batchDestroy"> Destroy selected paintings </button>
    </div>
    <%= render partial: 'list' %>

    <div class="pull-right">
      <button data-bind="click: selectAllOnPage"> Select all </button>
      <button data-bind="click: clearSelection"> Clear selection </button>
      <button data-bind="click: batchDestroy"> Destroy selected paintings </button>
    </div>
  <% end %>
</div>

<script>
  var viewModel = { paintings: ko.observableArray([]),
    selectAllOnPage: function (vm, e) {
      $("input:checkbox[name='destroy_paintings[]']:not(:checked)").each(function() {
        $(this).click();
      });
    },
    clearSelection: function (vm, e) {
      $("input:checkbox[name='destroy_paintings[]']:checked").each(function() {
        $(this).click();
      });
    }
   };

  viewModel.batchDestroy = function (vm, e) {
      $.ajax({
        url: "/image_batch_destroy",
        type: "delete",
        data: ko.toJSON({ painting_ids: vm.paintings }),
        contentType: "application/json",
        success: function (result) 
        {
          location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert(jqXHR.responseText);
        }
      });
    };

  ko.applyBindings(viewModel);
</script>