= will_paginate @products

= hidden_field_tag :sort, params[:sort]
= hidden_field_tag :page, params[:page]

%table.table.table-striped
  %tr
    - ["Name", "Description", "Cost", "Created", "Modified"].each_with_index do |title, index|
      %th= sortable index, title
    %th
    %th
    %th

  = render partial: 'products_table'
